<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='apple-touch-icon.png')}}">
    <title>Make&PlayGame in World/Homepage</title>
    <style>
      html,body{
        heiht: 100%;
        width: 100%;
      }
    </style>
    <script>
      let name = localStorage.getItem('name');
      let pass = localStorage.getItem('pass');
      let id = localStorage.getItem('id');
      if(name != null && pass != null && id != null){
        window.location.href="/Connect/home";
      }
    </script>
    <script>
      
    </script>
  </head>
  <body>
    <form action="./sign" method="POST">
      <input type="text" name="name" id="name" placeholder="NAME" />
      <input type="number" name="pass" id="pass" placeholder="PassWord(Number)" />
      <input type="submit" onclick="OK();" value="決定" />
    </form>
    <br>
    <div id="ErrorText"></div>
    <script>
      if(localStorage.getItem('name') != null && localStorage.getItem('pass') != null && localStorage.getItem('id') != null) {
        window.location.href="./home";
      }
      function OK(){
        let name = document.getElementById('name').value;
        let pass = String(document.getElementById('pass').value);
        if(name != "" && pass != ""){
          return true;
        } else {
          document.getElementById('ErrorText').innerText = "有効な値を入力してください。";
          return false;
        }
      }
    </script>
  </body>
</html>
