<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='apple-touch-icon.png')}}">
    <title>MPGinW:Connect/Home</title>
  </head>
  <body>
    <form action="./sign" method="POST">
      <input type="text" name="name" id="name" placeholder="NAME" />
      <input type="number" name="pass" id="pass" placeholder="PassWord(Number)" />
      <input type="submit" onClick="OK();" value="決定" />
    </form>
    <br>
    <div id="ErrorText"></div>
    <script>
      if(localStorage.getItem('name') != null && localStorage.getItem('pass') != null && localStorage.getItem('id') != null) {
        window.location.href="./home";
      }
      function OK(){
        let name = document.getElementById('name').value;
        let pass = String(document.getElementById('pass').value);
        if(name != "" && pass != ""){
          return true;
        } else {
          document.getElementById('ErrorText').innerText = "有効な値を入力してください。";
          return false;
        }
      }
      </script>
      
    
  </body>
</html>
