<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Online:Battle:Home</title>
  </head>
  <body>
      <input type="text" name="name" id="name" placeholder="NAME" />
      <input type="number" name="pass" id="pass" placeholder="PassWord(Number)" />
      <script>
        if(localStorage.getItem('name') != null && localStorage.getItem('pass') != null) {
          alert("Home");
          window.location.href="./home";
        }
        function OK(){
          let name = document.getElementById('name').value;
          let pass = String(document.getElementById('pass').value);
          if(name != "" && pass != ""){
            localStorage.setItem('name',name);
            localStorage.setItem('pass',pass);
            window.location.href="./home";
          }
        }
      </script>
      <input type="submit" onclick="OK();" value="決定" />
    
  </body>
</html>
