<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <style>
      ul {
        background: #7fffd4;
        border: 2px skyblue dashed;
      }
      ul li {
        color: #43acff;
      }
    </style>
    <title>Online:Battle:home</title>
  </head>
  <body>
    <input type="submit" onclick="logout();" value="Logout" />
    
    <div id="Text"></div>
    
    <label>Room番号(3桁の数字)</label>
    <input type="num" id="room" value="100" min="100" max="999" placeholder="ROOM" />
    <input type="button" value="決定" onclick="Click();" />
    
    <div id="room_num">100</div>
    
    <script>
      if(localStorage.getItem('room') != null){
        document.getElementById('room').value = localStorage.getItem('room');
        document.getElementById('room_num').innerText = localStorage.getItem('room');
      } else {
        localStorage.setItem('room','100');
      }
      function Click(){
        let room = document.getElementById('room').value;
        let room_num = parseInt(room);
        if(room != null && !Number.isNaN(room_num)) {
          if(100 <= room_num && room_num <= 999){
            localStorage.setItem('room',String(room_num));
            document.getElementById('room_num').innerText = String(room_num);
            document.getElementById('span').innerText = "";
          } else {
            document.getElementById('span').innerText = "100~999までの数値を入れてください。";
          }
        } else {
          document.getElementById('span').innerText = "100~999までの数値を入れてください。";
        }
      }
    </script>
    
    <div>
      <ul>
        <li><a href="./touch/home">連打対決</a></li>
        <li><a href="./pin/home">ピンボール</a></li>
      </ul>
    </div>
    <script>
      function logout(){
        localStorage.removeItem('name');
        localStorage.removeItem('pass');
        window.location.href="./homepage";
      }
      let name = localStorage.getItem('name');
      let pass = localStorage.getItem('pass')
      if(name == null || pass == null){
        window.location.href="./homepage";
      }
      document.getElementById('Text').innerText = name+"さんこんにちは！";
      alert(localStorage.getItem('name'));
      alert(localStorage.getItem('pass'));
    </script>
    
  </body>
</html>
