<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Online:Battle:home</title>
  </head>
  <body>
    <input type="submit" onclick="logout();" value="Logout" />
    <div id="Text"></div>
    <div>
      <ul>
        <li><a href="./touch/home">連打対決</a></li>
        <li>ピンボール</li>
      </ul>
    </div>
    <script>
      function logout(){
        localStorage.removeItem('name');
        localStorage.removeItem('pass');
        window.location.href="./homepage";
      }
      let name = localStorage.getItem('name');
      let pass = localStorage.getItem('pass')
      if(name == null || pass == null){
        window.location.href="./homepage";
      }
      document.getElementById('Text').innerText = name+"さんこんにちは！";
      alert(localStorage.getItem('name'));
      alert(localStorage.getItem('pass'));
    </script>
    
  </body>
</html>
