<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='apple-touch-icon.png')}}">
    <title>MPGinW:Battle/Stay</title>
  </head>
  <body>
    <div id="text">Room番号:</div>
    <ul>
      <li><a href="./Touch/home">連打</a></li>
      <li><a href="./Pinball/home">ピンボール</a></li>
    </ul>
    <script>
      let room = localStorage.getItem('room');
      if(room == null) window.location.href="./home";
      document.getElementById('text').innerText = 'Room番号:'+room;
    </script>
  </body>
</html>
