<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <script>
      let created_date = {{created_date | tojson}};
      alert(typeof created_date);
      if(localStorage.getItem('name') == null or localStorage.getItem('id') == null){
        alert('ログインしていないため、ログインをお願いします。');
        window.location.href = "/Connect/homepage";
      }
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
