<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="google-site-verification" content="WHX3xVHU1jUXu3VxjVJUAvzEFgt_G5W32NO-gPv5ELw" />
    <meta charset="utf-8">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='apple-touch-icon.png')}}">
    <title>Make&PlayGame in World</title>
  </head>
  <center><h1>Make&PlayGame in Worldにようこそ!</h1></center>
  <body>
    <ul>
      <li><a href="./Lifeshave/play">Life Shave</a></li>
      <li><a href="./{{url_for('static',filename='LIFESHAVE/humancubist.gltf')}}">static</a></li>
      <li><a href="./Fighters/play">Fighters</a></li>
      <li><a href="./Battle/homepage">Battle</a></li>
    </ul>
    <form action="/add" method="POST">
      <input type="text" name="todo" placeholder="input todo!!"/>
      <input type="submit" value="Add"/>
    </form>
  </body>
</html>
