{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block head %}
<style>
  * {
    margin: 10px;
    padding: 1px;
    font-size: 20px;
  }
  .num {
    wodth: 5%;
  }
  .word {
    width: 25%;
  }
  .ans {
    width: 70%;
  }
</style>
{% endblock %}
{% block body %}
<button onclick="ans();">答えを表示</button>
<table id="table" border="1">
  <tr><th class="num">番号</th><th class="word">単語</th><th class="ans">解答欄</th></tr>
</table>
<script>
  let table = document.getElementById('table');
  //alert('table');
  let words = [];
  //let params = [1,1900];
  let params_origin = window.location.search;
  let params = params_origin.split('=')[1].split('_');
  let len = 0;
  let ind_origin = [];
  let state = 0;
  let words_list = [];
  const filePath = "/Static/EnglishWords/words_data.txt";
  //alert(params);
      // 非同期でファイルを読み込む
      
        fetch(filePath)
          .then(response => response.text())
          .then(data => {
            //alert('get');
            
            words = data.split('\n').map((k) => {
              let k_k = k.split(/(:|\/)/)
              return [k_k[0],k_k[2],k_k[4]]
            });
            words = words.slice(parseInt(params[0])-1,parseInt(params[1]));
            //alert(words);
            len = words.length;
            ind_origin = Array.from({length: len}, (v, k) => k);
            
            
            state = 1;
            let k0 = 0;
            //alert('start');
            for(let k = 0; k < parseInt(params[2]); k++){
              let k1 = Math.floor((len-k0)*Math.random());
              words_list.push(words[k1]);
              k0 += 1;
              //alert(k1);
              //table.appendChild('<tr><tb>'+k0+'</td><td>'+words[k1]+'</td><td></td></tr>');
              let tr = document.createElement("tr");
              let td1 = document.createElement("td");
              td1.textContent = String(k0);
              let td2 = document.createElement("td");
              td2.textContent = words[k1][1];
              let td3 = document.createElement("td");
              td3.classList.add('Ans_area');
              td3.textContent = "";
              tr.appendChild(td1);
              tr.appendChild(td2);
              tr.appendChild(td3);
              table.appendChild(tr);
              delete words[k1];
              words = words.filter(v0 => v0);
            }
           
            
    
          })
          .catch(error => {
            console.error('Error:', error);
          });
  //table.appendChild('<
  function ans(){
    let td_ans = document.getElementsByClassName('Ans_area');
    
    for(let k = 0; k < parseInt(params[2]); k++){
      if(td_ans[k].textContent == ''){
        td_ans[k].textContent = words_list[k][2];
      } else {
        td_ans[k].textContent = '';
      }
    }
  }
 

</script>
{% endblock %}
