{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block head %}
<style>
  * {
    margin: 10px;
    padding: 1px;
    font-size: 20px;
  }
  table {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .num {
    width: 5%;
  }
  .word {
    width: 25%;
  }
  .ans {
    width: 75%;
  }
  .Ans_area {
    color: red;
    font-size: 15px;
  }
  button {
    font-size: 11px;
    margin: 0px;
  }
 
</style>
{% endblock %}
{% block body %}
<button onclick="ans();">答えを表示</button> <button onclick="reset();">間違えた回数をリセット</button>
<br>
<table id="table" border="1">
  <tr><th class="num">番号</th><th class="word">単語</th><th class="ans">解答欄</th></tr>
</table>
<script>
  let table = document.getElementById('table');
  let until_num = localStorage.getItem('English_Words');
  if(until_num == null){
    until_num = new Array(1900).fill("0");
    localStorage.setItem('English_Words',until_num.join(','));
  } else {
    until_num = until_num.split(',');
  }
  function reset(){
    if(confirm('本当にRESETしますか？(この操作は取り消せません。)')){
      until_num = new Array(1900).fill("0");
      localStorage.setItem('English_Words',until_num.join(','));
      let element_k = document.getElementsByClassName('but');
      for(let k = 0; k < parseInt(params[2]); k++){
       element_k[k].textContent = '0:'+String(words_list[k][0]);
       element_k[k].style.color = 'black';
      }
    }
  }

  //alert('table');
  let words = [];
  //let params = [1,1900];
  let params_origin = window.location.search;
  let params = params_origin.split('=')[1].split('_');
  let len = 0;
  let ind_origin = [];
  let state = 0;
  let words_list = [];
  const filePath = "/Static/EnglishWords/words_data.txt";
  //alert(params);
      // 非同期でファイルを読み込む
      
        fetch(filePath)
          .then(response => response.text())
          .then(data => {
            //alert('get');
            
            words = data.split('\n').map((k) => {
              let k_k = k.split(/(:|\/)/,5)
              return [k_k[0],k_k[2],k_k[4]]
            });
            words = words.slice(parseInt(params[0])-1,parseInt(params[1]));
            //alert(words);
            len = words.length;
            ind_origin = Array.from({length: len}, (v, k) => k);
            
            
            state = 1;
            let k0 = 0;
            //alert('start');
            for(let k = 0; k < parseInt(params[2]); k++){
              let k1 = Math.floor((len-k0)*Math.random());
              words_list.push(words[k1]);
              k0 += 1;
              //alert(k1);
              //table.appendChild('<tr><tb>'+k0+'</td><td>'+words[k1]+'</td><td></td></tr>');
              let tr = document.createElement("tr");
              let td1 = document.createElement("td");
              let but = document.createElement("button");
              but.textContent = until_num[parseInt(words[k1][0])-1]+':'+words[k1][0];
              but.setAttribute('onclick', 'up('+String(k0-1)+');');
              but.classList.add('but');
              but.style.color = "black";
              td1.appendChild(but);
              //td1.textContent = words[k1][0];
              //alert(words[k1]);
              let td2 = document.createElement("td");
              td2.textContent = words[k1][1];
              let td3 = document.createElement("td");
              td3.classList.add('Ans_area');
              td3.textContent = "";
              tr.appendChild(td1);
              tr.appendChild(td2);
              tr.appendChild(td3);
              table.appendChild(tr);
              delete words[k1];
              words = words.filter(v0 => v0);
            }
           
            
    
          })
          .catch(error => {
            console.error('Error:', error);
          });
  //table.appendChild('<

 
  function up(ind_k0){
    //ind_k0はボタンのindex
    let ind_k = parseInt(words_list[ind_k0][0]);
    until_num[ind_k-1] = String(parseInt(until_num[ind_k-1])+1);
    let element_k = document.getElementsByClassName('but')[ind_k0];
    element_k.textContent = until_num[ind_k-1]+':'+String(ind_k);
    element_k.style.color = 'green';
    localStorage.setItem('English_Words',until_num.join(','));
  }
  function ans(){
    let td_ans = document.getElementsByClassName('Ans_area');
    
    for(let k = 0; k < parseInt(params[2]); k++){
      if(td_ans[k].textContent == ''){
        td_ans[k].textContent = words_list[k][2];
      } else {
        td_ans[k].textContent = '';
      }
    }
  }
 

</script>
{% endblock %}
